{% extends "synaptic/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="top-page-element"
     data-state="{% if show_navbar %}show{% else %}hide{% endif %}">
</div>

<h2>{{ title }}</h2>

<div class="font-colour-pri primary-font">
    {% if form %}
        <form method="POST" class="col-6 col-sm-6 col-md-4 col-lg-3 text-start">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
        </form>
    {% else %}
        <div>Reset password link expired</div>
        <br>
        <div><a href="{% url 'synaptic:password_reset' %}">Forgot password</a></div>
    {% endif %}
</div>

<script>
    $(document).ready(function(){
        var password1 = document.querySelector('#id_new_password1');
        var password2 = document.querySelector('#id_new_password2');
        if (password1 != null) {
            password1.classList.add("font-colour-pri");
            password1.focus();
        }
        if (password2 != null) {
            password2.classList.add("font-colour-pri");
        }
    });
</script>

{% endblock %}